basemap
basemap-data-hires
cartopy
cmocean
cython
gdal
ipython
ipdb
matplotlib
netcdf4
numpy
setuptools
scikit-image
scikit-learn
scipy
shapely
mock
netcdftime
nose
notebook
pillow
pygrib
pyproj
pyshp
rtree
jupyter
paramiko
pandas
xarray
bottleneck
dask
